<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.wenxuan.morning-brief.night</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>PLACEHOLDER_REPO/scripts/run-mode.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>MODE</key><string>night</string>
    <key>REPO_DIR</key><string>PLACEHOLDER_REPO</string>
    <key>PATH</key><string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>22</integer>
    <key>Minute</key><integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>PLACEHOLDER_REPO/.logs/launchd-night.out</string>
  <key>StandardErrorPath</key>
  <string>PLACEHOLDER_REPO/.logs/launchd-night.err</string>
</dict>
</plist>
